* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(hsl(226, 100%, 51%), hsl(298, 93%, 67%));
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: whitesmoke;

}

.cal {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: auto;
    padding: 70px;
    background: linear-gradient(white, whitesmoke);
}

label {
    font-weight: bold;
}

input[type="number"] {
    padding: 5px;
    border-radius: 1px solid;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: hsl(108, 77%, 68%);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#result {
    color: black;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}